@media (max-width: 2559px) {
    html {
        font-size: 16px;
    }

    .container {
        max-width: 1440px;
    }

    .lang {
        left: 30px;

        &::before {
            top: 30px;
            left: -15px;
        }

        &::after {
            top: 77px;
            left: -15px;
        }

        &__list-item::after {
            top: 12px;
            left: -19px;
        }
    }
}

@media (max-width: 1599px) {
    html {
        font-size: 13px;
    }

    .container {
        max-width: 1250px;
    }
}

@media (max-width: 1365px) {
    html {
        font-size: 12px;
    }

    .container {
        max-width: 880px;
    }

    .section__naming-text {
        width: 140px;
    }

    .header__naming-ava {
        width: 200px;
        height: 200px;
    }

    .hobbies .section__naming-text {
        width: 130px;
    }
}

@media (max-width: 1023px) {
    .container {
        flex-direction: column;
        max-width: 100%;
    }

    .lang {
        left: unset;
        right: -40px;

        &::before,
        &::after {
            display: none;
        }

        &__switch {
            display: flex;
        }

        &__list-item {
            width: 40px;
            height: 40px;
            margin-top: 0;
            background: $bg-color_2;

            &::after {
                display: none;
            }

            &.active .section__content-text {
                color: $active-color;
            }

            .section__content-text {
                font-size: 1.1667rem;
            }
        }
    }

    .section {
        padding: 0;

        &::before,
        &::after {
            display: none;
        }

        &__naming {
            align-items: flex-start;
            width: 100%;
            padding: 50px;
            background: $bg-color_3;

            &-text {
                width: 100%;
                text-align: left;
            }
        }

        &__content {
            width: 100%;
            margin-top: -1px;
            padding: 50px;
            background: $bg-color_1;

            &-quality {
                grid-gap: 40px;
            }

            &-places-item {
                flex-direction: column;
                margin-top: 25px;

                &-place {
                    width: 100%;
                }

                &-description {
                    margin: 4px 0 0;
                }
            }
        }
    }

    .hobbies .section__naming-text {
        width: 100%;
    }

    .header {
        height: max-content;
        padding: 50px;

        &__naming {
            justify-content: center;
            align-items: center;
            padding: 0;
            background: transparent;

            &-ava {
                width: 196px;
                height: 196px;
            }
        }

        &__content {
            flex-direction: column;
            margin-top: 20px;
            padding: 0;

            &-presentation {
                &-title {
                    text-align: center;

                    &-surname {
                        margin: 0 auto;
                    }
                }

                &-bottom {
                    flex-direction: column;
                    align-items: center;
                    margin-top: 10px;

                    &-profession {
                        text-align: center;
                    }

                    &-list {
                        margin-top: 35px;

                        &-item {
                            font-size: 14px;
                        }
                    }
                }
            }

            &-contacts {
                position: static;
                width: 100%;
                margin-top: 25px;
            }
        }
    }

    .experience__content {
        padding-bottom: 0;
    }

    .education__content {
        padding-top: 0;
    }

    .footer__content-presentation-bottom {
        margin-top: 90px;

        &-list-item {
            font-size: 14px;
        }
    }
}

@media (max-width: 767px) {
    html {
        font-size: 14px;
    }

    .section {
        &__naming {
            padding: 25px;
        }

        &__content {
            padding: 25px;

            &-quality {
                display: grid;
                grid-template-columns: 1fr;
                grid-gap: 25px 0;
            }
        }
    }

    .header {
        height: 100vh;
        height: calc(var(--vh, 1vh) * 100);
        padding: 25px;

        &__naming {
            height: max-content;
            padding: 0;

            &-ava {
                width: 130px;
                height: 130px;
            }
        }

        &__content {
            margin-top: 15px;
            padding: 0;

            &-presentation {
                &-title {
                    &-name {
                        font-size: 42px;
                    }

                    &-surname {
                        font-size: 42px;
                    }
                }

                &-bottom {
                    margin-top: 5px;

                    &-profession {
                        font-size: 14px;
                    }

                    &-list {
                        margin-top: 20px;
                    }
                }
            }

            &-contacts {
                margin-top: auto;
                padding-top: 30px;

                &-list {
                    flex-direction: column;

                    &-item {
                        margin-top: 20px;
                        text-align: center;

                        &:first-child {
                            margin-top: 0;
                        }
                    }
                }
            }
        }
    }

    .experience__content {
        padding-bottom: 0;

        .section__content-places {
            padding-bottom: 25px;
        }
    }

    .education__content {
        padding-top: 0;

        .section__content-places {
            padding-top: 25px;

            &-item::before {
                box-shadow: 0 0 0 10px $bg-color_1;
            }
        }
    }

    .portfolio__content-list {
        grid-template-columns: 1fr;
    }

    .footer__content {
        &-contacts-list {
            flex-direction: column;
            align-items: flex-start;

            &-item {
                text-align: left;
                margin-top: 25px;

                &:first-child {
                    margin-top: 0;
                }
            }
        }

        &-presentation-bottom {
            flex-direction: column;
            align-items: flex-start;
            margin-top: 50px;

            &-title {
                &-name {
                    font-size: 42px;
                }

                &-surname {
                    font-size: 42px;
                }
            }

            &-list {
                height: max-content;
                margin: 25px 0;
            }
        }
    }
}

@media (max-width: 374px) {
    html {
        font-size: 10px;
    }

    .header__content-presentation-title {
        &-name,
        &-surname {
            font-size: 34px;
        }
    }

    .footer__content-presentation-bottom-title {
        &-name,
        &-surname {
            font-size: 34px;
        }
    }
}